# Discord Bot Configuration
DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_client_id_here
GUILD_ID=your_guild_id_here

# XP Configuration
XP_PER_MESSAGE=15
XP_COOLDOWN=60000
XP_LEVEL_MULTIPLIER=100

# Role ID for moderation commands
MOD_ROLE_ID=your_mod_role_id_here
# Role ID for admin commands
ADMIN_ROLE_ID=your_admin_role_id_here
#Channel IDs
COMMANDS_CHANNEL_ID=your_commands_channel_id_here
RULES_CHANNEL_ID=your_rules_channel_id_here

# Claimable Role IDs
FACEIT_ROLE_ID=your_faceit_role_id_here
CS2_ROLE_ID=your_cs2_role_id_here
GTA_ROLE_ID=your_gta_role_id_here
AMONGUS_ROLE_ID=your_amongus_role_id_here
MINECRAFT_ROLE_ID=your_minecraft_role_id_here
MOVIENIGHT_ROLE_ID=your_movienight_role_id_here
DEVELOPMENT_ROLE_ID=your_development_role_id_here

# Counting game
COUNTING_CHANNEL_ID=your_counting_channel_id_here
COUNTING_FAIL_ROLE_ID=your_counting_fail_role_id_here
